.container {
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
